<div>
    <ul>
{% for thread in feed %}
            <li>
                <a href="{{thread.link}}" target="_blank">
                <img src="{{thread.guid}}" alt="{{thread.title}}" width="270"/>
                </a>
                el {{thread.pubDate | date('d/m/Y', 'UTC')}}
            </li>
{% endfor %}
        </ul>
    </div>
