<div>
<ul>
{% for thread in feed.channel.item %}
  {% if loop.index < 6 %}
    <li><a href="{{thread.link}}">{{thread.title}}</a>
      <ul>
        <li>{{thread.author}}</li>
        <li>{{thread.pubDate}}</li>
      </ul>
    </li>
  {%endif%}
{% endfor %}
</ul>
</div>
