<div>
    <ul>
    {% for thread in feeds %}
        <li>
            <p>
                {{ thread |raw }} <small> el {{ thread.pubDate | date('d/m/Y', 'Europe/Madrid')}}</small>
                </p>
                    
        </li>
    {%endfor%}
    </ul>
</div>