<div>
    <ul>
{% for thread in feed %}
  {% if loop.index < 6 %}
            <li>
                <a href="{{thread.link}}" target="_blank">@symfony_madrid:</a>
                {{thread.description | substr(16,255)}} el {{thread.pubDate | date('d/m/Y', 'UTC')}}
            </li>
  {%endif%}
{% endfor %}
        </ul>
    </div>
