{# footer.html.twig #}
<section class="disclaimer"><p>{{ 'sfbcn.footer.disclaimer'|trans|raw }}</p></section>
<section class="rights"><p>{{ 'sfbcn.footer.thanks'|trans|raw }}</p></section>
<section><p>
          {% image output="images/iukanet.png"
                           "@SFBCNWebsiteBundle/Resources/public/images/iukanet.png" %}
                <a href="http://www.iukanet.com" target="_blank" title="Iukanet"><img src="{{ asset_url }}" alt="Iukanet"></a>
            {% endimage %}
</p></section>