{# menu.html.twig #}
<nav>
   <ul>
       <li><a href="#" class="current">{% trans %} menu.inicio {% endtrans %}</a></li>
       <li><a href="#">{% trans %} menu.noticias {% endtrans %}</a></li>
       <li><a href="#">{% trans %} menu.eventos {% endtrans %}</a></li>
       <li><a href="#">{% trans %} menu.quienessomos {% endtrans %}</a></li>
       <li><a href="#">{% trans %} menu.contacto {% endtrans %}</a></li>
   </ul>
</nav>