{# social.html.twig #}
<ul class="social-menu">
    <li class="link-twitter">
        <a title="{{ 'sfbcn.links.social.twitter'|trans|e }}" href="http://twitter.com/symfony_bcn">Twitter: @symfony_bcn</a>
    </li>
    <li class="link-github">
        <a title="{{ 'sfbcn.links.social.github'|trans|e }}" href="http://github.com/symfony-barcelona">GitHub: @symfony-barcelona</a>
    </li>
</ul>