<section class="social">
    <ul>
        <li>
            <a href="http://twitter.com/#!/symfony_bcn" target="_blank">
                {% image "@SFBCNWebsiteBundle/Resources/public/images/twitter-icon.png" %}
                <img src="{{ asset_url }}" alt="{% trans %} messages.head.followtwitter {% endtrans %}"/>
                {% endimage %}
            </a>
        </li>
        <li>
            <a href="https://github.com/symfony-barcelona" target="_blank">
                {% image "@SFBCNWebsiteBundle/Resources/public/images/github-icon.png" %}
                    <img src="{{ asset_url }}" alt="{% trans %} messages.head.forkgithub {% endtrans %}"/>
                {% endimage %}
            </a>
        </li>
    </ul>
</section>