/web/css/*
/web/js/*
/web/bundles/*
/web/images/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/phpunit.xml
/vendor/
/app/config/security.yml
/app/config/parameters.yml
/.idea
/nbproject
/.vimrc
/web/feeds/*
composer.phar
