/web/css
/web/js
/web/bundles/
/web/images/
/app/bootstrap*
#/app/cache/*
#/app/logs/*
/vendor/
/app/config/security.yml
/app/config/parameters.yml
/app/config/parameters.ini
/app/config/config_travis.yml
/.idea
/nbproject
/.vimrc
/web/feeds/*
