{# admin/login.html.twig #}
{% extends 'SFMWebsiteBundle::adminlayout.html.twig' %}

{% block header %}
<h2>Welcome to Symfony-Barcelona Admin Area</h2>
{% endblock %}

{% block content %}
{% if error %}
    <div>{{ error.message | trans }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="submit" name="login" />
</form>
{% endblock %}