{# layout.html.twig #}
{% spaceless %}
<!doctype html>
<html lang="es">
<head>
    <title>Symfony Madrid - Admin área</title>
</head>
<body>
{% block header %}
    {% include 'SFMWebsiteBundle::adminmenu.html.twig' %}
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
{% endspaceless %}
