{# footer.html.twig #}
<section class="disclaimer"><p>{{ 'sfm.footer.disclaimer'|trans|raw }}</p></section>
<section class="rights"><p>{{ 'sfm.footer.thanks'|trans|raw }}</p></section>
<section><p>
          {% image output="images/iukanet.png"
                           "@SFMWebsiteBundle/Resources/public/images/iukanet.png" %}
                <a href="http://www.iukanet.com" target="_blank" title="Iukanet"><img src="{{ asset_url }}" alt="Iukanet"></a>
            {% endimage %}
<a href="/humans.txt" id="humantxt"><img src="/humans.txt" width="88" height="31" alt="humantxt"/>            
</p></section>