body {
    /*background-color: #EDEDED; */
    background-image: url(/bundles/sfbcnwebsite/images/bg1.png);
    overflow-y: scroll;
}
#container {
    position: relative;
    width: 980px;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    padding: 20px;
    overflow: auto;
}

nav {
    float: right;
	width: 500px;
    position: relative;
	top: 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #535353;
}

nav ul li {
	float: left;
	margin-left: 16px;
	line-height:normal;
}

nav ul li a {
	font-size: 16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: white;
	text-transform: capitalize;
	font-weight: normal;
	display: block;	/* IE6, IE7 line height fix */
	padding-bottom: 8px;
	padding-top: 15px;
	background-color: transparent;
	margin-top: 0px;
	margin-right: 6px;
    text-decoration: none;
}

nav ul li a:hover {
	color: white;
	text-decoration:underline;
}

nav ul li a.current {
	background-color:#FFCC33;
	padding:15px;
}

.social {
    position: relative;
    float: right;
    top: 20px;
}

.social ul li {
    float: left;
    margin-right: 10px;
}

.clear {
    clear: both;
}

#logo{
	position: relative;
   	float: left;
   	top: 10px;
	left: 0px;
	width: 400px;
	height: 160px;
}

section {
    min-height: 150px;
}

footer{
    position: relative;
	height: 60px;
	clear: both;
	width: 100%;
	margin-bottom: 18px;
	background-color: #535353;
    padding-top: 10px;
    text-align: center;
}
