{# News/index.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content news">
        This is our news page
    </section>
{% endblock %}