{# Events/index.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content events">
        This is our events page
    </section>
{% endblock %}