{# Default/contact.html.twig #}
{% extends 'SFMWebsiteBundle::layout.html.twig' %}
{% block content %}
    <section class="page-content contact">
        <h2>¿Quieres contactar con nosotros?</h2>
        <p>
            Symfony madrid es un grupo de desarrolladores, para ponerte en contacto 
            con nostros por cualquiera de los siguientes medios.
        </p>      
        <img src="{{ asset('bundles/sfmwebsite/images/contact.png') }}" alt="contacto"/>
        <ul >
            <li><a href="http://groups.google.com/group/symfony_madrid?hl=es" id="google" target="_blank" alt="Symfony Madrid en Google Groups">Cuenta de Google Groups</a></li>
            <li><a href="http://twitter.com/#!/symfony_madrid" id="twitter" target="_blank" alt="Symfony Madrid en twitter">Cuenta de twitter</a></li>
        </ul>        
    </section>
{% endblock %}

{% block title %} Contacta con nosotros {% endblock %}