{# Default/about.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content about">
        This is our about page
    </section>
{% endblock %}