{# Default/contact.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content contact">
        This is our contact page
    </section>
{% endblock %}