{# Default/contact.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content contact">
        <p>Rellena este formulario para contactar con nosotros</p>
        <form method="post" id="contact" action="{{ path('contact_post') }}">
            <fieldset class="contact-name">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" />
            </fieldset>
            <fieldset class="contact-email">
                <label for="email">E-mail</label>
                <input type="text" name="email" />
            </fieldset>
            <fieldset class="contact-message">
                <label for="mensaje">Mensaje</label>
                <textarea name="mensaje"></textarea>
            </fieldset>
            <input type="submit" name="Enviar" value="Enviar"/>
        </form>
    </section>
{% endblock %}