{# Default/index.html.twig #}
{% extends 'SFBCNWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section class="page-content home">
        <article>
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Consectetur adipiscing elit. Praesent viverra volutpat neque a commodo. Curabitur eget massa quis odio consequat mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cum sociis natoque penatibus, et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse vehicula odio id mi blandit quis ornare urna luctus. Etiam justo augue, fringilla sit amet tincidunt nec, placerat vitae turpis. Quisque ac lectus non diam blandit viverra.</p>
        </article>
        <article>
            <h1>Fusce et metus</h1>
            <p>Iaculis dolor ultricies fermentum. Suspendisse ut massa vitae nulla cursus facilisis nec eu odio. In adipiscing congue enim sit amet feugiat. Vivamus vestibulum metus et libero fermentum eget molestie risus volutpat. Vivamus adipiscing suscipit urna quis luctus. Vivamus ac lectus ac sapien varius euismod in vitae dolor. Quisque vestibulum metus eget est fringilla dignissim. Morbi cursus dolor sed sapien dapibus nec viverra sapien egestas. </p>
        </article>
        <article>
            <h1>Nullam interdum, ante a congue</h1>
            <p>Elementum, massa urna aliquet leo, a egestas purus nulla vitae mauris. Aliquam et nunc nisi, nec tincidunt lorem. In accumsan suscipit leo nec congue. Aenean volutpat, sapien eu porta facilisis, purus leo ultrices tellus, in semper risus elit at eros. Vivamus sed leo ut lectus condimentum viverra in et lectus. Proin fermentum massa a ante viverra rutrum. Cras nunc risus, sagittis a dignissim at, vehicula sed arcu.</p>
        </article>
    </section>
    <aside class="related">
        <article>
            <h1>{{ 'sfbcn.index.helloworld'|trans }}</h1>
            <p>Cras ut luctus turpis. Cras rhoncus rhoncus ante ac tempus. Sed rhoncus lacus et massa feugiat dictum. Nunc enim leo, vestibulum ut lacinia eget, ullamcorper at nisl. Aenean viverra suscipit ligula tincidunt condimentum. Donec eget lacus leo, a vehicula est. Duis consequat elit vel sem ultricies sed condimentum orci interdum. Nulla tempor tincidunt lorem eu aliquam. Nulla nibh ante, consequat vel pharetra ut, viverra sed purus. Mauris sed nulla libero, ac vulputate orci. In egestas congue eros non bibendum.</p>
        </article>
        <article>
            <h1>{{ 'sfbcn.index.helloworld'|trans }}</h1>
            <p>Duis dignissim auctor eros ac porta. Donec nec dui vel ligula feugiat gravida. Integer gravida, enim vel pellentesque congue, enim leo imperdiet turpis, eget suscipit risus felis quis tellus. Integer a egestas sem. Nullam consectetur felis eu ante rutrum sed dignissim justo ultricies. Sed sed sem erat, et imperdiet urna. Nunc sagittis venenatis vehicula.</p>
        </article>
        <article>
            <h1>{{ 'sfbcn.index.helloworld'|trans }}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis ornare laoreet. Phasellus interdum tincidunt mi, ut faucibus libero eleifend non. Nam pulvinar, mi eget porttitor feugiat, elit mauris tempor tellus, dictum blandit tellus tellus sed est. Nunc sagittis, justo sed fringilla luctus, velit elit faucibus orci, eu vestibulum augue purus scelerisque libero. Vivamus in lacus nibh, sit amet auctor quam. Aliquam erat volutpat. Ut tincidunt nunc pellentesque leo pulvinar adipiscing. </p>
        </article>
    </aside>
{% endblock %}