/***************************************************
              minimalist by marija zaric
              template distributed by
        http: //freehtml5templates.com
***************************************************
***************************************************
                              Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

a img {
    border: none
}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/***************************************************
                              Global styles
***************************************************/

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: white;
    color: #575757;
    margin: 0 0 1px; height: 100%; 
    line-height: 1.7;
    border-top: 10px solid black;
}

.bg {
    background-image: url("/bundles/sfmwebsite/images/bg.png"); 
    background-position: left top;
    background-repeat: repeat;
}

p {
    margin-top: 3px;
}

a, a:visited{
    font-weight: bold;
    text-decoration: none;
    color: #575757;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: relative;
}

h1 {
    font-size: 60px;
    line-height: 0.9;
    color: black;
    text-align: left;
    margin-bottom: 13px;
    padding-bottom: 15px;
}

h2 {
    font-size: 15px;
    line-height: 1.8;
    color: #666666;
    text-align: left;
    border-bottom: 1px solid #A3A3A3;
    margin-bottom: 30px;
    padding-bottom: 7px;
}

h3 {
    font-size: 24px;
    line-height: 0.9;
    color: #575757;
    text-align: left;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-decoration: underline;
}

h4 {
    font-size: 16px;
    line-height: 0.9;
    color: #575757;
    text-align: left;
    margin-bottom: 8px;
    padding-top: 3px;
}

/***************************************************
                            Main containers
***************************************************/

#container, #container_left, #container_right {
    position: relative;
    width: 100%;
}

#container {
    position: relative;
    width: 980px;
    margin: 0 auto;
    background-color: transparent;
    min-height: 100%;
}

.group1 {
    float: left;
    width: 274px;
    position: relative;
    background: transparent;
    padding: 15px;
    margin-bottom: 10px;
}

.group2 {
    float: left;
    width: 274px;
    position: relative;
    background: transparent;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.group3 {
    float: right;
    width: 274px;
    position: relative;
    background: transparent;
    padding: 15px;
}

.group4 {
    float: left;
    width: 950px;
    position: relative;
    padding: 15px;
    margin-top: -14px;
    margin-bottom: 25px;
    background: transparent;
    border-top: 1px solid #A3A3A3;
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
    column-count: 3;	
    -moz-column-gap: 40px; /* Firefox */
    -webkit-column-gap: 40px; /* Safari and Chrome */
    column-gap: 40px;	
    -moz-column-rule: 1px solid #A3A3A3; /* Firefox */
    -webkit-column-rule: 1px solid #A3A3A3; /* Safari and Chrome */
    column-rule: 1px solid #A3A3A3;
}

header {
    position: relative;
    float: left;
    width: 100%;
    height: 175px;
}

header hgroup {
    position: relative;
    float: left;
    top: 125px;
}

header .social {
    position: relative;
    float: right;
    right: 11px;
    top: 110px;
}

header .social ul li {
    display: inline;
}

.page-content p {
    margin: 1em 0;
    line-height:1.35em;
    color:#999;
    font-family: trebuchet ms, Arial,Helvetica,sans-serif;
}

/* NEWS */
.news .date-header { margin-left: 1ex; }
.news .feed { padding: 0 2% 0 0; width: 48%; float: left; }
.page-content {
    clear: both;
    overflow: hidden;
}

/* EVENTS */
#next-event { float: left; width: 640px; min-height: 200px; }
#next-event h2 { font-size: 20px; line-height: 1em; margin: 0; }
#next-event h3 { font-size: 35px; line-height: 1em; }
#next-event .map {
    padding: 5px;
    border: 1px solid #ddd;
    background: #eee;
}

#future-events, #past-events {
    float: right;
    width: 270px;
    padding: 15px;
    background: #f6f6f6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.event-detail .event-info { float: left; width: 640px; }
.event-detail .event-map {
    float: right;
    width: 300px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #eee;
}

/* ABOUT */
#founders { float: left; width: 68%; }
#founders ul { margin: 0; padding: 0; }
.founder {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 15px 0;
    width: 47%;
}

.founder .avatar {
    float: left;
    margin-right: 1em;
    padding: 5px;
    border: 1px solid #ddd;
    background: #eee;
    width: 100px;
    height: 100px;
}

.founder p { font-size: 14px; }

.founder ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 2px;
}

.founder .links {
    display: inline-block;
    height: 32px;
}

.founder .links li {
    display: inline-block;
    margin-right: 10px;
}

.founder a {
    float: left;
    height: 32px;
    text-indent: -9999px;
    width: 32px;
    opacity: .8;
}

.founder .twitter  { background: url("/bundles/sfmwebsite/images/icons/twitter.png"); }
.founder .github   { background: url("/bundles/sfmwebsite/images/icons/github.png"); }
.founder .email    { background: url("/bundles/sfmwebsite/images/icons/email.png"); }
.founder .betabeers { background: url("/bundles/sfmwebsite/images/icons/betabeers.png"); }

.founder a:hover {
    opacity: 1;
}

#members,
#badges{
    width: 28%;
    float: right;
    padding: 15px;
    background: #f6f6f6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#members ul,
#badges ul { margin: 0; padding: 0; }

#members .member,
#badges .badge { display: inline-block; list-style: none; margin: 0 8px 8px 0; }

#members .member a,
#badges .badge a{ display: block; line-height: 0; }

/* CONTACT */
#form-message-success {
    position: relative;
    background-color: #DFF2BF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color: #4F8A10;
}

form {
    background-color: #f6f6f6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1em 1.5em;
}

label {
    color: #737373;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

label.form-error {
    color: red;
}

.form-label-message {
    font-size: 10px;
    display: block;
}

input[type=submit] {
    border: 0 none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 13px 7px;
}

input[type=submit]:hover {
    text-decoration: underline;
}

input[type=submit].form-sending {
    cursor: default;
}

input[type=submit]:hover.form-sending {
    text-decoration: none;
}

#contact p {
    margin: 1em;
}

#contact fieldset input {
    width: 100%;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#contact textarea {
    min-height: 8em;
    resize: vertical;
    width: 100%;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}



/***************************************************
                                   HOLDERS
***************************************************/	

.holder_content {
    font-size: 15px;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 4px;
    padding-top: 10px;
}

.holder_content a , .holder_content a:visited{
    font-weight: bold;
    text-decoration: none;
    color: #CC3333;
}


.holder_content_separator{
    margin-bottom: 30px;
}

/***************************************************
                                GALLERY
***************************************************/

.photo_hover3 {
    position: relative;
    float: left;
    margin: 16px 13px 8px 0;
    padding: 8px;
    background-color: white;
    border: 1px solid #D6D6D6;
}

.photo_hover3:hover {
    border: 1px solid #D6D6D6;
    background-color: transparent;
    opacity: 0.9;
    z-index: 1000;
}

a.photo_hover2 {
    position: relative;
    float: right;
    margin: 5px 13px 8px 0;
    padding: 8px;
    background-color: white;
    border: 1px solid #E1E1E1;
}

a.photo_hover2:hover {
    border: 1px dotted #66CCFF;
    background-color: #C7EDFF;
    opacity: 0.9;
    z-index: 1000;
}

/***************************************************
                                FOOTER
***************************************************/

footer {
    text-align: justify;
    color: #D8D8D8 ;
    position: relative;
    height: 100%;
    clear: both;
    width: 100%;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer section{
    width: 980px;
    margin: auto;
}

footer a, footer a:visited{
    color: #575757;
}

#FooterOne, #FooterTwo, #FooterTree {
    position: absolute;	
}

#FooterTwo {
    position: absolute;
    left: 150px;
    top: 30px;
    color: white;
}

#FooterTwo a{
    margin: 5px;
}

#FooterTree {
    position: absolute;
    left: 225px;
    top: 26px;
    color: white;
}

.container {
    width: 980px;
    margin: 0 auto;
    background-color: #33CC99;
}

#footer p{font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; margin-left: 10px; text-align: center;}

.disclaimer{width:968px!important;}
.rights{width:968px!important;}

/***************************************************
                                       MENU
***************************************************/

nav {
    position: absolute;
    width: 525px;
    top: 38px;
    left: 300px;
    background: transparent;
    border-top: 1px solid #A3A3A3;
    border-bottom: 1px solid #A3A3A3;
}

nav ul li {
    float: left;
    margin-left: 25px;
    line-height: normal;
}

nav ul li a {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: normal;
    display: block;	/* IE6, IE7 line height fix */
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: transparent;
    margin-top: 5px;
    margin-right: 6px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #CC3333;
}

nav ul li.current a{
    color: #CC3333;
}

.content_menu {
    float: left;
    width: 274px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.content_menu ul {	
    margin: 0px;
    padding: 0px;
    float: none;
}

.content_menu ul li {
    float: none;
    padding-bottom: 16px;
}


.content_menu ul li a {
    font-size: 14px;
    line-height: normal;
    color: #33CC99;
    text-align: left;
    text-decoration: none;
    background-image: url(/bundles/sfmwebsite/images/circle.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.content_menu ul li a:hover {
    color: #33CC99;
}

/***************************************************
                                   SPECIFIC
***************************************************/

#logo {
    position: relative;
    float: left;
    left: 0px;
    width: 167px;
    height: 43px;
    top: 32px;
}

.clearing {
    clear: both;
    display: inline;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.button {
    width: 66px;
    height: 13px;
    position: relative;
    margin-top: 12px;
    padding: 9px;
    background-color: black;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 12px/100% Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: #333333;
}

.button:active {
    position: relative;
    top: 1px;
}

.persona {
    margin: 5px;
}

.persona span{
    position: relative;
    font-size: 18px;
    bottom: 10px;
    left: 10px;
}

.contact img, .contact ul{
    float: left;
}

.contact ul{
    margin: 30px 0px 0px 20px;   
}